@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.loadingCompleted{
    display: none;
  }
  .loaderWrapper{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 120px;
    border-radius: 8px;
    background: rgba(76,76,76,1);
    bottom: 40vh;
  }
  .loader {
    border: 2px solid white;
    border-top: 2px solid rgba(76,76,76,1 );
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    animation: spin 3s linear infinite;
  }
  .loaderText{
    color: white;
  }
}



.wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 92px);
  }
  .tabs {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
  }
  .inputPad_wrapper {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .tags_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    .loadMoreTagsWrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;
      .noMoreTags{
        color: gray;
      }
    }
  }
  .createTag {
    fill: var(--main);
  }
  .tag {
    position: relative;
    width: 20vw;
    height: calc(20vw * 1.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    .sign {
      width: 12vw;
      height: 12vw;
      background: var(--tag-bg);
      border: 1px solid var(--tag-bg);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .name {
      font-size: 12px;
      margin-top: 4px;
    }
    &.selected {
      .sign {
        border-color: var(--main);
        background: var(--main);
      }
    }
  }