.outsideWrapper{
    background: white;
    z-index: 0;
    .hiddenDiv{
        height: 16px;
    }
}

.total{
    margin: 0 16px 16px 16px;
    height: 74px;
    background:rgba(128,216,207,0.6);
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-around;
    .income{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(217,90,75);
    }
    .expenditure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(82,168,103);
    }
    .netIncome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.wrapper{
    padding: 32px 0 32px 0 ;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128,128,128,0.3);
    .money{
        // position: fixed;
        padding-left: 70vw;
        padding-bottom: 15px;
        font-size: 18px;
        color: rgb(82,168,103);
        &.IncomeMoney{
            color: rgba(232,101,75);
        }
    }
    .id{
        position: absolute;
        padding-bottom: 22px;
        padding-left: 24vw;
    }
    .time{
        font-size: 16px;
        position: absolute;
        padding-top: 24px;
        padding-left: 24vw;
        color: rgba(153,153,153);
    }
    .emoji{
      position: absolute;
      margin-left: 8vw;
      width: 12vw;
      height: 12vw;
      max-width: 64px;
      max-height: 64px;
      background: var(--tag-bg);
      border: 1px solid var(--tag-bg);
      border-radius: 50%;
      left: 0;
      border: 1px solid var(--tag-bg);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
}
