.clickShow{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 33vw;
    z-index: 2;
}
.timeSelected{
    position: fixed;
    height: 50vh;
    width: 100vw;
    top:14vh;
    &.displayNone{
        display: none;
    }
}
.shadow{
    position: fixed;
    height:100%;
    top:0px;
    width: 100vw;
    background: rgba(rgb(80, 80, 80),0.5);
    z-index: 1;
    &.displayNone{
        display: none;
    }
}
.wrapper {
    height: 50vh;
    margin: 60px;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    &.displayNone{
        display: none;
    }
    
    .insideWrapper {
        padding-bottom: 30px;
        width: 70vw;
        z-index: 2;
        background: white;
        .selectTime {
            padding: 24px 0 24px 0;
            background: rgba(248,197,119,0.7);
            .time{
                padding-left: 10px;
            }
        }

        .start {
            margin: 20px 0px 30px 10px;
            width: 70vw;
            height: 63px;

            >.startInput {
                width: calc(70vw - 20px);
                border-radius: 8px;
                height: 46px;
            }
        }

        .end {
            margin-bottom: 20px;
            margin: 0px 10px 30px 10px;
            
            width: 70vw;
            >.endInput {
                width: calc(70vw - 20px);
                border-radius: 8px;
                height: 46px;
            }
        }

        .yesOrNo {
            width: 70vw;
            text-align: right;
            >.cancel {
                background: rgba(0,0,0,0);
                border-color: rgba(0,0,0,0);
                margin-right: 20px;
            }

            >.confirm {
                background: rgba(0,0,0,0);
                border-color: rgba(0,0,0,0);
                margin: 10px;
                margin-right: 3vw;

            }
        }
        
    }
}