.wrapper {
  height: calc(100vh - var(--welcome-nav-height));
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, var(--welcome-bg-start) 0%, var(--welcome-bg-end) 100%);
  margin-bottom: var(--welcome-nav-height);
  > header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    color: rgb(252,148,19);
    > svg {
      height: 10vh;
    }
  }
  > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 16px 16px var(--welcome-nav-gap);
  }
  > footer {
    flex-shrink: 0;
  }
}



.slide_fade_enter_active{
  transition: all 1s ease-out;
}
.slide_fade_leave_active{
transition: all 0.99s ease-out;  //动画离开比进动画慢一点点，不然会抢画面屏幕闪烁
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.slide_fade_enter_from{
 transform: translateX(100vw);
}
.slide_fade_leave_to{
 transform: translateX(-100vw);
}





.slide_fade2_enter_active{
  transition: all 1s ease-out;
}
.slide_fade2_leave_active{
  transition: all 0.99s ease-out;  //动画离开比进动画慢一点点，不然会抢画面屏幕闪烁
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide_fade2_enter_from{
  transform: translateX(-100vw);
}
.slide_fade2_leave_to{
  transform: translateX(100vw);
}