:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: rgb(64,133,98);
  --welcome-bg-end: rgb(248,197,119);
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 10; 
  --button-bg:rgb(128,216,207);
  --button-text:white;
  --button-font-size:18px;
  --button-radius:8px;
  --navbar-bg-start:var(--welcome-bg-start);
  --navbar-bg-end:var(--welcome-bg-end);
  --navbar-text-color:white;
}