:root {
  --amount-text-color:#53A867;
  --button-bg:rgb(128,216,207);
  --button-font-size:18px;
  --button-radius:8px;
  --button-bg-danger:var(--error-color);
  --button-text:white;
  --date-color:#999999;
  --emoji-nav-text-selected: #333;
  --emoji-nav-text: #999;
  --error-color: #E10505;
  --input-border-color: #5c33be;
  --input-min-height: 48px;
  --input-pad-buttons-border-color:#dddddd;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0,0,0,0.25);
  --main: rgb(248,197,119);
  --navbar-bg-end:var(--welcome-bg-end);
  --navbar-bg-start:var(--welcome-bg-start);
  --navbar-text-color:white;
  --overlay-bg:white;
  --overlay-mask-bg:rgba(0, 0, 0, 0.5);
  --overlay-user-bg: var(--welcome-bg-start);
  --overlay-user-text: white;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --tag-bg: #EFEFEF;
  --top-safe-area-height: 24px;
  --welcome-bg-end: rgb(248,197,119);
  --welcome-bg-start: rgb(64,133,98);
  --welcome-card-bg: white;
  --welcome-nav-gap: 8px;
  --welcome-nav-height: 64px;
  --welcome-text: white;
  --z-index-bottom-nav: 8; 
  --z-index-overlay:16;
}